<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">

    <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>
                            <button type="button" class="btn btn-default navbar-btn"><a href="/profile">Home</a></button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default navbar-btn"><a href="/logout">Logout</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
