<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">

    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <button type="button" class="btn btn-success navbar-btn"><a href="/profile">Home</a></button>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <button type="button" class="btn btn-danger navbar-btn"><a href="/logout">Logout</a></button>
                    </li>
                </ul>
            </div>
        </nav>
