{{>header}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="col-md-6">
        <h1 class="th_name">Tournament Name: </h1>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <h3></h3>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <button class="btn btn-primary status col-md-6">Start</button>
                    <h2 class="col-md-6 t_status"></h2>
                    <a class="btn btn-primary logout" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>

<!-- <div class="alert alert-warning" role="alert" hidden>
  <strong>Warning!</strong> No of players is not power of 2
</div> -->

<div class="row">
    <div class="col-md-6 players">
        <div class="row">
            <input type="text" name="players" class="col-md-6 p_input">
            <button type="submit" class="btn btn-primary status col-md-4 addPlayer">Add Player</button>
        </div>
        <h3>Players</h3>
        <div class="player_name">

        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-inverse st_table">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Matches</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Round</th>
                </tr>
            </thead>
            <tbody class="st_body">

            </tbody>
        </table>
    </div>
</div>

<div class="row r_table">
    <div class="col-md-12">
        <table class="table table-striped table-inverse">
            <thead>
                <th>Round#</th>
                <th>Status</th>
                <th>Result</th>
                <th>Play</th>
                <th>Pairings</th>
            </thead>
            <tbody class='r_details'>
            </tbody>
        </table>
    </div>
</div>
{{>pairings}}
{{>matchreport}}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
</script>
<script type="text/javascript" src="/js/script.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>
