<div>
    <form id="e_form">
    {{#each players}}
    <div class="radio">
        <label>
        <input type="radio" name="add_ex" id="radio_buttons" value="{{name}}">
        {{name}}
        </label>
    </div>
    {{/each}}
    </form>
</div>
