<table class="table table-striped table-hover col-md-12 panel ">
    <thead>
        <tr class="bg-primary">
            <th class="text-center">Player List</th>
        </tr>
    </thead>
    <tbody>
        {{#each players}}
            <tr>
                <td class="text-center success">{{name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
