{{>header}}
    <div class="row">
        <div class="col-md-12 panel input-group">
        <input type="text" name="players" class="form-control in_tour">
            <span class="input-group-btn">
                <button class="btn btn-info btn-primary tournament" type="button">Add</button>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Tournaments</h2>
            <table class="table table-striped table-inverse tour_table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Winner</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                        <tr>
                            <td><a class="tour" href="/tDetails/{{id}}">{{name}}</td></a>
                            <td>{{status}}</td>
                            <td>{{winner}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <div class="t_list"></div>
{{>footer}}
