{{>header}}
<h3>Create Tournament</h3>
{{>crt_tournament}}
<div></div>
<h2>Show tournaments</h2>
<form method='get' action='/tournaments'>
    <button type="submit" class="waves-effect waves-light btn">

    </button>
</form>
{{>footer}}
