<div class="row r_table well">
    <div class="col-md-12">
        <table class="table table-striped table-hover col-md-12 panel ">
            <thead class="bg-info">
                <th>Round#</th>
                <th>Status</th>
                <th>Execute Round</th>
                <th>Round Result</th>
            </thead>
            <tbody class='r_details'>
            </tbody>
        </table>
    </div>
</div>
